<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deploymentsys.dao.MenuMapper">
	<resultMap id="MenuBeanMap"
		type="com.deploymentsys.beans.MenuBean">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="url" property="url" />
		<result column="menu_group_id" property="menuGroupId" />
		<result column="menu_group_name" property="menuGroupName" />
		<result column="sort" property="sort" />
		<result column="is_show" property="show" />
		<result column="description" property="description" />
		<result column="create_date" property="createDate" />
		<result column="creator" property="creator" />
		<result column="create_ip" property="createIp" />
		<result column="modify_date" property="modifyDate" />
		<result column="modifier" property="modifier" />
		<result column="modify_ip" property="modifyIp" />
		<result column="is_delete" property="delete" />
	</resultMap>

	<sql id="commonSql"> 1=1 and a.is_delete = 0</sql>

	<select id="getMenusByMenuGroupId" resultMap="MenuBeanMap">
		select a.id, a.name
		from
		deploymentsys.t_menu
		a
		where
		<include refid="commonSql" />
		and menu_group_id = #{menuGroupId}
		order by a.sort desc, a.create_date
		desc,
		a.id desc
	</select>

	<select id="getAllMenus" resultMap="MenuBeanMap">
		select a.id, a.name, a.sort, a.create_date, a.menu_group_id
		from
		deploymentsys.t_menu
		a,deploymentsys.t_menu_group b
		where
		<include refid="commonSql" />
		and a.menu_group_id = b.id
		order by a.sort desc, a.create_date desc,
		a.id desc
	</select>

	<select id="list" resultMap="MenuBeanMap">
		select a.*, b.name menu_group_name
		from
		deploymentsys.t_menu
		a,deploymentsys.t_menu_group b
		where
		<include refid="commonSql" />
		and b.is_delete = 0
		and a.menu_group_id = b.id
		<if test="name != null and name !='' ">
			and a.name LIKE concat('%',concat(#{name}, '%'))
		</if>
		<if test="url != null and url !='' ">
			and a.url LIKE concat('%',concat(#{url}, '%'))
		</if>
		<if test="menuGroupId != null and menuGroupId !=0 ">
			and a.menu_group_id = #{menuGroupId}
		</if>
		order by b.sort desc, b.create_date desc, a.sort desc, a.create_date
		desc, a.id desc
		limit
		#{pageStart},#{size}
	</select>

	<select id="getListCount" resultType="java.lang.Integer">
		select count(*)
		from
		deploymentsys.t_menu
		a,deploymentsys.t_menu_group b
		where
		<include refid="commonSql" />
		and b.is_delete = 0
		and a.menu_group_id = b.id
		<if test="name != null and name !='' ">
			and a.name LIKE concat('%',concat(#{name}, '%'))
		</if>
		<if test="url != null and url !='' ">
			and a.url LIKE concat('%',concat(#{url}, '%'))
		</if>
		<if test="menuGroupId != null and menuGroupId !=0 ">
			and a.menu_group_id = #{menuGroupId}
		</if>
	</select>

	<select id="getStaffPermissions" resultType="java.lang.String">
		select distinct
		m.url from t_menu m,
		t_menu_group mg where mg.id =
		m.menu_group_id and
		m.id in (select rm.menu_id from t_role_menu rm
		where
		rm.role_id in
		(select tr.role_id from t_staff_role tr where
		tr.staff_id=#{staffId}))
	</select>

	<select id="getStaffMenus" resultMap="MenuBeanMap">
		select distinct m.id,
		m.name, m.sort, m.url, m.create_date, m.menu_group_id from t_menu m,
		t_menu_group mg where mg.id = m.menu_group_id and mg.is_show = 1 and
		m.is_show = 1 and m.id in (select rm.menu_id from t_role_menu rm where
		rm.role_id in (select tr.role_id from t_staff_role tr where
		tr.staff_id=#{staffId}))
	</select>

	<select id="getMenu" resultMap="MenuBeanMap">
		select *
		from
		deploymentsys.t_menu
		where
		id = #{id}
		limit 1
	</select>

	<update id="softDelete">
		update deploymentsys.t_menu set is_delete = 1
		where id in
		<foreach collection="array" open="(" separator="," close=")"
			item="id">
			#{id}
		</foreach>
	</update>

	<insert id="add"
		parameterType="com.deploymentsys.beans.MenuBean"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		`deploymentsys`.`t_menu`
		(`name`,`url`,`is_show`,`menu_group_id`,`sort`,
		`description`,
		`create_date`,
		`creator`, `create_ip`, `modify_date`,
		`modifier`,
		`modify_ip`) VALUES
		(#{name},#{url},#{show},#{menuGroupId},#{sort},
		#{description},
		#{createDate},
		#{creator}, #{createIp},
		#{modifyDate},
		#{modifier},
		#{modifyIp})
	</insert>

	<update id="updateMenu">
		update deploymentsys.t_menu set
		name=#{name},url=#{url},is_show=#{show},menu_group_id=#{menuGroupId},sort=#{sort},
		description=#{description},
		modify_date=#{modifyDate},
		modifier=#{modifier},
		modify_ip=#{modifyIp}
		where id=#{id}
	</update>
</mapper>

