<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deploymentsys.dao.MenuGroupMapper">
	<resultMap id="MenuGroupBeanMap"
		type="com.deploymentsys.beans.MenuGroupBean">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="is_show" property="show" />
		<result column="icon" property="icon" />
		<result column="sort" property="sort" />
		<result column="description" property="description" />
		<result column="create_date" property="createDate" />
		<result column="creator" property="creator" />
		<result column="create_ip" property="createIp" />
		<result column="modify_date" property="modifyDate" />
		<result column="modifier" property="modifier" />
		<result column="modify_ip" property="modifyIp" />
		<result column="is_delete" property="delete" />
	</resultMap>

	<sql id="commonSql"> 1=1 and is_delete = 0</sql>

	<select id="getAllMenuGroups" resultMap="MenuGroupBeanMap">
		select id,
		name
		from
		deploymentsys.t_menu_group
		where
		<include refid="commonSql" />
		order by sort desc, create_date desc, id desc
	</select>

	<select id="getStaffMenuGroups" resultMap="MenuGroupBeanMap">
		select distinct mg.id,
		mg.name, mg.sort, mg.icon, mg.create_date
		from t_menu m, t_menu_group
		mg where mg.is_delete = 0 and m.is_delete = 0 and mg.id = m.menu_group_id and
		mg.is_show = 1 and m.is_show = 1
		and m.id in (select rm.menu_id from
		t_role_menu rm where rm.role_id in
		(select tr.role_id from
		t_staff_role tr where tr.staff_id=#{staffId}))
		order by mg.sort desc,
		mg.create_date desc, mg.id desc
	</select>

	<select id="list" resultMap="MenuGroupBeanMap">
		select id,
		name,is_show,icon,sort,description,create_date,creator,create_ip,modify_date,modifier,modify_ip,is_delete
		from
		deploymentsys.t_menu_group
		where
		<include refid="commonSql" />
		<if test="name != null and name !='' ">
			and name LIKE concat('%',concat(#{name}, '%'))
		</if>
		order by sort desc, create_date desc, id desc
		limit
		#{pageStart},#{size}
	</select>

	<select id="getListCount" resultType="java.lang.Integer">
		select count(*)
		from
		deploymentsys.t_menu_group
		where
		<include refid="commonSql" />
		<if test="name != null and name !='' ">
			and name LIKE concat('%',concat(#{name}, '%'))
		</if>
	</select>

	<select id="getMenuGroup" resultMap="MenuGroupBeanMap">
		select id,
		name,is_show,icon,sort,description,create_date,creator,create_ip,modify_date,modifier,modify_ip,is_delete
		from
		deploymentsys.t_menu_group
		where
		id = #{id}
		limit 1
	</select>

	<update id="softDelete">
		update deploymentsys.t_menu_group set is_delete = 1
		where id in
		<foreach collection="array" open="(" separator="," close=")"
			item="id">
			#{id}
		</foreach>
	</update>

	<insert id="add"
		parameterType="com.deploymentsys.beans.MenuGroupBean"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		`deploymentsys`.`t_menu_group` (`name`,`is_show`,`icon`,`sort`,
		`description`, `create_date`,
		`creator`, `create_ip`, `modify_date`,
		`modifier`, `modify_ip`) VALUES
		(#{name},#{show},#{icon},#{sort},
		#{description},
		#{createDate}, #{creator}, #{createIp},
		#{modifyDate},
		#{modifier}, #{modifyIp})
	</insert>

	<update id="updateMenuGroup">
		update deploymentsys.t_menu_group set
		name=#{name},is_show=#{show},icon=#{icon},sort=#{sort},
		description=#{description},
		modify_date=#{modifyDate},
		modifier=#{modifier},
		modify_ip=#{modifyIp}
		where id=#{id}
	</update>
</mapper>

