<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.deploymentsys.dao.deploy.DeployTaskServerMapper">
	<resultMap id="DeployTaskServerBeanMap"
		type="com.deploymentsys.beans.deploy.DeployTaskServerBean">
		<result column="id" property="id" />
		<result column="deploy_task_id" property="deployTaskId" />
		<result column="server_order" property="serverOrder" />
		<result column="flow_server_id" property="flowServerId" />
		<result column="target_server_id" property="targetServerId" />
		<result column="server_ip" property="targetServerIp" />
		<result column="server_port" property="targetServerPort" />
		<result column="deploy_dir" property="deployDir" />
		<result column="status" property="status" />
		<result column="batch_no" property="batchNo" />
		<result column="app_id" property="appId" />
		<result column="create_date" property="createDate" />
		<result column="creator" property="creator" />
		<result column="create_ip" property="createIp" />
		<result column="modify_date" property="modifyDate" />
		<result column="modifier" property="modifier" />
		<result column="modify_ip" property="modifyIp" />
		<result column="is_delete" property="delete" />
	</resultMap>

	<sql id="commonSql">where 1=1 and a.is_delete = 0</sql>

	<select id="listAllByTaskId" resultMap="DeployTaskServerBeanMap">
		select a.*, b.server_ip, b.server_port
		from
		deploymentsys.t_deploy_task_server a,
		deploymentsys.t_deploy_target_server b
		<include refid="commonSql" />
		and b.is_delete = 0
		and a.target_server_id = b.id
		and a.deploy_task_id =
		#{taskId}
		order by a.server_order asc, a.id asc
	</select>

	<select id="list" resultMap="DeployTaskServerBeanMap">
		select a.*, b.server_ip
		from
		deploymentsys.t_deploy_task_server a,
		deploymentsys.t_deploy_target_server b
		<include refid="commonSql" />
		and b.is_delete = 0
		and a.target_server_id = b.id
		and a.deploy_task_id =
		#{taskId}
		order by a.server_order asc, a.id asc
		limit
		#{pageStart},#{size}
	</select>

	<select id="getById" resultMap="DeployTaskServerBeanMap">
		select a.*
		from
		deploymentsys.t_deploy_task_server a
		<include refid="commonSql" />
		and a.id = #{id}
		limit 1
	</select>

	<select id="listByStatus" resultMap="DeployTaskServerBeanMap">
		select a.*
		from
		deploymentsys.t_deploy_task_server a
		<include refid="commonSql" />
		and a.status = #{status}
	</select>

	<select id="getListCount" resultType="java.lang.Integer">
		select count(*)
		from
		deploymentsys.t_deploy_task_server a
		<include refid="commonSql" />
		and a.deploy_task_id = #{taskId}
	</select>

	<insert id="addBatch" keyColumn="id" keyProperty="id"
		useGeneratedKeys="true">
		INSERT INTO
		`deploymentsys`.`t_deploy_task_server`
		(`deploy_task_id`,`server_order`,`target_server_id`,`flow_server_id`,
		`deploy_dir`,
		`status`,
		`app_id`,
		`batch_no`,
		`create_date`,
		`creator`,
		`create_ip`,
		`modify_date`,
		`modifier`,
		`modify_ip`) VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.deployTaskId},#{item.serverOrder},#{item.targetServerId},#{item.flowServerId},#{item.deployDir},
			#{item.status},
			#{item.appId},
			#{item.batchNo},
			#{item.createDate},
			#{item.creator}, #{item.createIp},
			#{item.modifyDate},
			#{item.modifier},
			#{item.modifyIp})
		</foreach>
	</insert>

	<update id="updateStatusByTaskId">
		update deploymentsys.t_deploy_task_server set
		status=#{status},
		modify_date=#{modifyDate},
		modifier=#{modifier},
		modify_ip=#{modifyIp}
		where deploy_task_id=#{deployTaskId}
	</update>

	<update id="updateStatus">
		update deploymentsys.t_deploy_task_server set
		status=#{status},
		modify_date=#{modifyDate},
		modifier=#{modifier},
		modify_ip=#{modifyIp}
		where id=#{id}
	</update>

</mapper>

